.mat-card {
    max-width: 300px;
    border: 1px solid gray;
    background-color: white;
    margin: 10px;
}
  
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}