.mat-card {
    max-width: 280px;
    border: 1px solid gray;
    background-color: white;
    margin: 10px;
}

.mat-card-header {
    height: 50px;
}

.mat-card-title {
    font-size: 18px;
}

.mat-card-subtitle {
    font-size: 15px;
}

button {
    clear: both;
}

section {
    overflow: hidden;
}