<mat-card ngClass.lt-sm="mobile-card">
    <mat-card-header >
      <div mat-card-avatar #headerIcon></div>
      <div fxLayout="column" fxLayoutAlign="center start">
        <mat-card-title>{{country.country}}</mat-card-title>
        <mat-card-subtitle *ngIf="!isUS()"><i>Last time there:</i> {{country.lastVisit}}</mat-card-subtitle>
        <!-- <mat-card-subtitle *ngIf="!isUS()"></mat-card-subtitle> -->
      </div>
    </mat-card-header>
    <img mat-card-image [src]="imageSource" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <div *ngIf="!isUS()">
        <div>{{overviewList}}</div>
        <section [@inOutAnimation] *ngIf="showDetails">
          <div *ngFor="let location of country.locations">
            <br/>
            <div>{{location.location}}, <i>{{location.duration}}</i></div>
            <div>{{verbalizeList(location.reasons)}} </div>
          </div>
        </section>
      </div>
      <div *ngIf="isUS()">
        <div *ngFor="let location of country.lived">
          <div>{{location.location}}, <i>{{location.time}}</i></div>
        </div>
        <section [@inOutAnimation] *ngIf="showDetails">
          <br/>
          <div>Other states I have been to:<br/>{{verbalizeList(country.otherStates)}}</div>
        </section>
    </div>
    </mat-card-content>
    <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
      <!-- <button mat-button *ngIf="!showDetails" (click)="onDetailsButtonClick()">DETAILS</button>
      <button mat-button *ngIf="showDetails" (click)="onDetailsButtonClick()">CLOSE</button> -->
      <button mat-icon-button (click)="onDetailsButtonClick()" [attr.aria-label]="showDetails ? 'close detials' : 'show details'">
        <mat-icon role="button">{{showDetails ? 'expand_less' : 'expand_more'}}</mat-icon>
      </button>
    </mat-card-actions>
</mat-card>