.mat-card {
    max-width: 280px;
    border: 1px solid gray;
    background-color: white;
    margin: 10px;
}

.mat-card-header {
    height: 50px;
}

.mat-card-title {
    font-size: 18px;
}

.mat-card-subtitle {
    font-size: 15px;
}

button {
    background-color: transparent;
    border: none;
}

section {
    overflow: hidden;
}

.mobile-card {
    //margin: 10px 0px;
    //border-radius: 0px;
}