$padding: 12px;
$halfPadding: 6px;

.app-padding-none {
    padding: 0px !important;
}

.app-margin-none {
    margin: 0px !important;
}

.app-margin-light-b {
    margin: 0px 0px $padding 0px;
}

.app-padding {
    padding: padding;
}

.app-padding-l {
    padding: 0px 0px 0px $padding;
}

.app-padding-lr {
    padding: 0px $padding;
}

.app-padding-t {
    padding: $padding 0px 0px 0px;
}