$headerTextLight: antiquewhite;
$headerText: #E89D7A;
$headerTextColor:#E89D7A;

$headerFont: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

$globalFont: $headerFont;

$borderColor: $headerTextColor;