<div fxLayout="column" fxLayoutAlign="center center">
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
    <mat-icon>school</mat-icon>
    <h2>Education</h2>
  </div>
  <div fxLayout="row" fxFill fxLayoutAlign="space-between center" fxLayoutGap="10px" fxLayout.lt-sm="column">
    <img src="assets/images/notre-dame/nd1.jpg" fxHide.lt-sm>
    <div fxLayout="column" fxLayoutAlign="center center">
      <p>I am a proud alumnus of the</p>
      <div class="x-large text-center">University of Notre Dame</div>
      <p class="text-center">I graduated in May of 2018 with a degree in Computer Science.</p>
      <p>Cumulative GPA: 3.83</p>
    </div>
    <img src="assets/images/notre-dame/nd2.jpg" ngClass.lt-sm="small-screen">
  </div>
</div>