$imgHeight: 125px; 

img {
    // width: 100%;
    max-height: $imgHeight;
    max-width: 100%;
}

h3 {
    height: $imgHeight;
}

ul {
    list-style: none;
}

.skills-container {
    min-width: 90%;
}

.skill-title {
    font-size: 32px;
    text-align: center;
}