<div fxLayout="column" fxLayoutAlign="center center">
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
    <mat-icon>build</mat-icon>
    <h2>Skills</h2>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="space-evenly start" fxLayoutGap="12px" class="skills-container" fxLayout.lt-sm="column">
    <div fxFlex="32%" *ngFor="let group of groups" fxLayoutAlign="center center" fxLayout="column">
      <h3 class="app-margin-light-b" fxLayoutAlign="center center">
        <img *ngIf="group.image" [src]="group.image" [attr.alt]="group.label">
        <span *ngIf="!group.image" class="skill-title">{{group.label}}</span>
      </h3>
      <ul class="app-margin-none app-padding-none">
        <app-skill-detail *ngFor="let skill of group.skills" [skill]="skill"></app-skill-detail>
      </ul>
    </div>
  </div>
</div>